In [1]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [19]:
import pandas as pd
df = pd.read_csv('transactions.csv')
# Access the first DataSet values
print(df.head(5))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [5]:
import pandas as pd
df = pd.read_csv('transactions.csv')
# Accesses last values from the dataset
print(df.tail(5))

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [6]:
import pandas as pd
df = pd.read_csv('transactions.csv')
#info() method also tells us how many Non-Null values there are present in each column, and in our data set.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes
None

In [18]:
import pandas as pd
df = pd.read_csv('transactions.csv')
#describe(): Summarizes data with metrics like mean, count,min, max, etc.
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [10]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [16]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
# Accessing single column
print(df['Age'])

0    25
1    30
2    35
Name: Age, dtype: int64

In [13]:
print(df['Name'])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [17]:
# Accesing single city column

print(df['City'])

0       New York
1    Los Angeles
2        Chicago
Name: City, dtype: object

In [24]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

# Accesing Multiple columns
print(df[['Name','City']])

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

In [25]:
# Accesing index location
print(df.iloc[1])

Name            Bob
Age              30
City    Los Angeles
Name: 1, dtype: object

In [26]:
print(df.iloc[0])

Name       Alice
Age           25
City    New York
Name: 0, dtype: object

In [27]:
print(df['Age'])

0    25
1    30
2    35
Name: Age, dtype: int64

In [28]:
print(df[['Age','City']])

   Age         City
0   25     New York
1   30  Los Angeles
2   35      Chicago

In [29]:
#❖ df['column']: Retrieves a specific column.
#❖ df[['col1', 'col2']]: Retrieves multiple columns.
#❖df.iloc[row_index]: Accesses a row by its position.

In [30]:
#Condition (df['Age'] > 30): Filters rows where the Age column has values greater than 30.
filtered_df = df[df['Age'] > 30]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago

In [31]:
filter_df = df[df['Age'] > 20]
print(filter_df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [32]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [37]:
import pandas as pd
df = pd.read_csv('transactions.csv')

#Rename the columns

df.rename(columns={"TransactionID":"TID"},inplace = True)
print(df.head())

   TID TransactionDate  UserID  ProductID  Quantity
0    1      2010-08-21     7.0          2         1
1    2      2011-05-26     3.0          4         1
2    3      2011-06-16     3.0          3         1
3    4      2012-08-26     1.0          2         3
4    5      2013-06-06     2.0          4         1

In [38]:
print(df['TID'])

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: TID, dtype: int64

In [41]:
print(df['Quantity']>2)

0    False
1    False
2    False
3     True
4    False
5     True
6    False
7     True
8     True
9     True
Name: Quantity, dtype: bool

In [42]:
print(df.isnull().sum())

TID                0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64

In [54]:
import pandas as pd
df = pd.read_csv('transactions.csv')
df_sorted = df.sort_values(by = ["Quantity","TransactionDate"])
ascending = [True,False]
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1

In [65]:
#Subsetting data
subset = df[df['Quantity'] > 1]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [66]:
subset_rows = df.iloc[[0,2,5]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

In [69]:
subset = df[df['Quantity'] > 1 ][['TransactionID','TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [70]:
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [71]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

In [72]:
#Insert a new column

df['Foo'] = df['UserID'] + df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0              1      2010-08-21     7.0          2         1  9.0
1              2      2011-05-26     3.0          4         1  7.0
2              3      2011-06-16     3.0          3         1  6.0
3              4      2012-08-26     1.0          2         3  3.0
4              5      2013-06-06     2.0          4         1  6.0

In [76]:
#Modifying data frames

df['NewColumn'] = df['Quantity'] * 2
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo  NewColumn
0              1      2010-08-21     7.0          2         1  9.0          2
1              2      2011-05-26     3.0          4         1  7.0          2
2              3      2011-06-16     3.0          3         1  6.0          2
3              4      2012-08-26     1.0          2         3  3.0          6
4              5      2013-06-06     2.0          4         1  6.0          2

In [77]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     datetime64[ns]
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
 5   Foo              9 non-null      float64
 6   NewColumn        10 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(4)
memory usage: 688.0 bytes
None

In [78]:
print(df.describe())

       TransactionID      TransactionDate    UserID  ProductID   Quantity  \
count       10.00000                   10  9.000000  10.000000  10.000000
mean         5.50000  2013-05-08 14:24:00  3.444444   3.400000   2.400000
min          1.00000  2010-08-21 00:00:00  1.000000   2.000000   1.000000
25%          3.25000  2011-10-03 06:00:00  2.000000   2.250000   1.000000
50%          5.50000  2013-09-14 00:00:00  3.000000   4.000000   2.000000
75%          7.75000  2014-03-26 06:00:00  3.000000   4.000000   3.000000
max         10.00000  2016-05-08 00:00:00  7.000000   5.000000   6.000000
std          3.02765                  NaN  2.127858   1.074968   1.712698

             Foo  NewColumn
count   9.000000  10.000000
mean    7.000000   4.800000
min     3.000000   2.000000
25%     6.000000   2.000000
50%     7.000000   4.000000
75%     7.000000   6.000000
max    11.000000  12.000000
std     2.179449   3.425395

In [84]:
#Print Numbers of Attributes

print(df.shape[1])

7

In [81]:
#Summary of transaction data set
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo  NewColumn
0              1      2010-08-21     7.0          2         1   9.0          2
1              2      2011-05-26     3.0          4         1   7.0          2
2              3      2011-06-16     3.0          3         1   6.0          2
3              4      2012-08-26     1.0          2         3   3.0          6
4              5      2013-06-06     2.0          4         1   6.0          2
5              6      2013-12-23     2.0          5         6   7.0         12
6              7      2013-12-30     3.0          4         1   7.0          2
7              8      2014-04-24     NaN          2         3   NaN          6
8              9      2015-04-24     7.0          4         3  11.0          6
9             10      2016-05-08     3.0          4         4   7.0          8

In [85]:
#3. Print Numbers of Records
print(df.shape[0])

10

In [89]:
print(df.index)

RangeIndex(start=0, stop=10, step=1)

In [90]:
# get row names
row_names = df.index.tolist()
print(row_names)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
# get column names
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity',
       'Foo', 'NewColumn'],
      dtype='object')

In [95]:
# view top 10 records
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo  NewColumn
0              1      2010-08-21     7.0          2         1   9.0          2
1              2      2011-05-26     3.0          4         1   7.0          2
2              3      2011-06-16     3.0          3         1   6.0          2
3              4      2012-08-26     1.0          2         3   3.0          6
4              5      2013-06-06     2.0          4         1   6.0          2
5              6      2013-12-23     2.0          5         6   7.0         12
6              7      2013-12-30     3.0          4         1   7.0          2
7              8      2014-04-24     NaN          2         3   NaN          6
8              9      2015-04-24     7.0          4         3  11.0          6
9             10      2016-05-08     3.0          4         4   7.0          8

In [104]:
# rename
df.rename(columns = {"Q":"Quantity"},inplace = True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo  NewColumn
0              1      2010-08-21     7.0          2         1  9.0          2
1              2      2011-05-26     3.0          4         1  7.0          2
2              3      2011-06-16     3.0          3         1  6.0          2
3              4      2012-08-26     1.0          2         3  3.0          6
4              5      2013-06-06     2.0          4         1  6.0          2

In [106]:
# change column names

import pandas as pd

# Load your dataset
df = pd.read_csv('transactions.csv')  # replace with your actual file path

# Rename the columns 'ProductID' and 'UserID'
df.rename(columns={'ProductID': 'NewProductID', 'UserID': 'NewUserID'}, inplace=True)

# Print the updated column names to confirm the change
print("Updated column names:")
print(df.columns)

Updated column names:
Index(['TransactionID', 'TransactionDate', 'NewUserID', 'NewProductID',
       'Quantity'],
      dtype='object')